body {
    background: #f0f2f5 !important;
}

.social-log-buttons {
    width: 75%;
    margin-top: 20px;

    .google-comps {
        width: 50%;

        .googlelogin-btn {
            background: #fff;
            display: inline-block !important;
            color: #333 !important;
            padding: 8px;
            width: calc(50% - 3px);
            margin-right: 3px;
            border: 1px solid #ccc !important;
            border-radius: 10px !important;
            box-shadow: none !important;
            text-align: center;
            font-size: 14px;
            transition: all 0.3s linear;
            outline: none;
            font-family: var(--font-family);

            .googleicon-login {
                width: 23px;
                height: auto;
                margin-right: 10px;
            }

            &:hover {
                box-shadow: 0px 0px 8px #ccc !important;
            }
        }
    }
}

.common-loader {
    position: absolute;
    top: 40%;
    left: 48%
}

.ant-layout-sider-children{
    background-color: #f0f2f5;
    height: 80vh !important;
    margin-top: 20px;
}

.ant-layout-header{
    height: 10vh !important;
}

.ant-layout-footer{
    height: 10vh !important;
    background-color: red;
}

.layout-body{

}
.ant-layout-sider {
    background-color: #f0f2f5;
}

.ql-editor {
    min-height: 350px;
}